# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local
.env.development
.env.test
.env

# Vercel
.vercel

# Typescript
*.tsbuildinfo
next-env.d.ts

# Prisma
prisma/migrations/

# Logs
logs
*.log

# Cache
.next/cache/

# IA asistencia
ACTUALIZAR_PRODUCCION.md
ARCHIVOS_PARA_SUBIR.txt
BUILD_LOCAL_Y_SUBIR.md
comandos-cloudlinux-fix.txt
comandos-configurar-bd.txt
comandos-diagnostico-bd.txt
comandos-diagnostico-prisma.txt
comandos-eliminar-nodemodules.txt
comandos-instalar-prisma.txt
comandos-prisma-fix.txt
comandos-prisma-rapido.txt
comandos-prisma-socket.txt
comandos-ssh.txt
deploy.sh
DEPLOYMENT_CHECKLIST.md
DEPLOYMENT_CHECKLIST.pdf
DEPLOYMENT_GUIDE.md
DEPLOYMENT_GUIDE.pdf
DEPLOY_DIRECTADMIN.md
DEPLOY_DIRECTADMIN_PASO_A_PASO.md
EJECUTAR_SEEDER.md
EJECUTAR_SEED_SIMPLE.md
EJECUTAR_SEED_SQL.md
EJECUTAR_SEED_SQL_FINAL.md
generate-secret.ps1
INSTALACION_RAPIDA.md
install-dependencies.sh
install.bat
install.sh
INSTRUCCIONES_DIRECTADMIN.md
INSTRUCCIONES_INSTALACION.md
MIGRATION_NOTES.md
MIGRATION_NOTES.pdf
PASOS_FINALES.md
QUICK_START.md
QUICK_START.pdf
reset-database.sql
RESET_Y_SEED.md
RESUMEN_DEPLOY.md
seed-data-completo.sql
seed-data.sql
seed.sql
SOLUCION_BUILD_ERROR.md
SOLUCION_CLOUDLINUX_NODEMODULES.md
SOLUCION_COMANDO_COLGADO.md
SOLUCION_CONEXION_BD.md
SOLUCION_CONEXION_LOCALHOST.md
SOLUCION_DIRECTADMIN_NPM.md
SOLUCION_ELIMINAR_NODEMODULES.md
SOLUCION_NPM_INSTALL.md
SOLUCION_NPM_UNINSTALL.md
SOLUCION_PRISMA_AUTHENTICATION.md
SOLUCION_PRISMA_FINAL.md
SOLUCION_PRISMA_SOCKET_FORMATO.md
SOLUCION_PRISMA_VERSION.md
SOLUCION_SSH_ENTORNO_VIRTUAL.md